# Общие временные файлы
*.log
*.tmp
*.temp
*.bak
*.swp
*.swo

# Для Python
__pycache__/
*.py[cod]
*.pyo

# Для Node.js
node_modules/
npm-debug.log
yarn-error.log

# Для Visual Studio
.vs/
*.suo
*.user
*.userprefs

# Для JetBrains IDE
.idea/
*.iml

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
